.color1 {
    background-color: #FAEBD7;
}

.color2 {
    background-color: #F5F5DC;
}

.color3 {
    background-color: #FFE3C4;
}

.color4 {
    background-color: #FFF8DC;
}

.color5 {
    background-color: #E6E6FA;
}

.color6 {
    background-color: #F0FFF0;
}
